---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Main from "../layouts/Main.astro";
import { Image } from "astro:assets";
import photo from "../images/landing/bird-mouth.jpg";
import { Button } from "@/components/ui/button";
import { ImageCarousel } from "@/components/ImageCarousel";
const imageImports = import.meta.glob<{ default: ImageMetadata }>(
  "../images/*.{jpeg,jpg,png,gif}",
);
const imagePaths = await Promise.all(
  Object.values(imageImports).map((fn) => fn().then(({ default: url }) => url)),
);
---

<Layout title="Home - Appalachian Brittanys">
  <Header />
  <Main>
    <section id="home">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 place-items-center"
      >
        <div class="px-20 pt-10 sm:p-24">
          <ImageCarousel images={imagePaths} client:visible />
        </div>
        <div class="flex flex-col p-10 gap-8">
          <h1>Welcome!</h1>
          <p class="sm:font-medium">
            We are the Lawson family from Jacksboro, Tennessee.
          </p>
          <p>
            We have an extreme love of not just Brittanys but all dogs. We take
            great pride in making sure our dogs are healthy and well cared for.
            We truly strive to produce a companion that will provide lasting
            enjoyment and loving memories for you and your family. Please
            contact us for information on past, present and future litters as
            well as other services we offer!
          </p>
          <div
            class="flex gap-4 mt-auto justify-center sm:justify-start"
          >
            <Button variant="outline-primary">Our Dogs</Button>
            <Button variant="outline-primary">Services</Button>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="flex justify-center w-full"></div>
    </section>
  </Main>
</Layout>
