---
import Header from "../components/Header.astro";
import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import jackPhoto from "../images/our-dogs/jack.png";
import dixiePhoto from "../images/our-dogs/dixie.jpg";
import lilyPhoto from "../images/our-dogs/lily.jpg";
import piperPhoto from "../images/our-dogs/piper.jpg";
---

<Layout title="Our Dogs - Appalachian Brittanys">
  <Header />
  <Main>
    <section id="our-dogs">
      <h1 class="text-center pt-4">
        <p
          class="border-b-1 border-r-2 inline-block pb-2 pr-3 sm:pb-10 sm:pr-20"
        >
          Our Dogs
        </p>
      </h1>
      <div class="card-container">
        <ImageCard title="Captain Jack Sparrow III" image={jackPhoto}>
          Jack descends from an illustrious lineage, including champion Grand
          Junction Jake (DC, AFC), champion Gambler's Ace in the Hole (NFC, DC,
          AFC), champion Carolina Ranger II (FC, AFC), and champion Auten's
          Meg-Netic Field (FC). Possessing a tremendous drive and natural
          instinct, Jack is a promising stud and we are super excited to see
          what's to come from him!
        </ImageCard>
        <ImageCard title="Dixie Belle" image={dixiePhoto}>
          This delightful girl hails from a distinguished lineage, with
          grandparents including champion Just Call Me Roy (NFC, NAFC, FC, AFC),
          champion Shambo's Dark Shadow (NFC, FC, AFC), champion The Prairie
          Tornado (FC, AFC), and champion Piney Run Sam (NAFC, FC, AFC).
          Boasting a liver/roan color, she has a lot of natural instinct and
          drive. She's amazing with children and has never met a stranger. We're
          beyond excited to witness the wonderful things this exceptional girl
          will achieve.
        </ImageCard>
        <ImageCard title="Appalachian Lily Bug" image={lilyPhoto}>
          This cherished girl proudly carries the legacy of numerous champions
          in her pedigree, including Nolan's Last Bullet, High Hopes Dark Nite
          (DC, NAGDC, NGDC, AFC), Gambler's Ace In The Hole (NFC, DC, AFC), High
          Hopes Fly By Nite (NAGDC, FC, AFC), Spanish Corral's Sundance Kid
          (NAFC, GFC, FC, AFC), and Grand Junction Jake (DC, AFC). We are
          excited to see what she will do and produce in the near future!
        </ImageCard>
        <ImageCard title="Appalachian Piper Picked Peppers" image={piperPhoto}>
          This darling girl is a granddaughter of an impressive roster of
          champions, showcasing a remarkable pedigree. Her lineage includes
          Nolan's Last Bullet, High Hopes Dark Nite (DC, NAGDC, NGDC, AFC),
          Gambler's Ace In The Hole (NFC, DC, AFC), High Hopes Fly By Nite
          (NAGDC, FC, AFC), Spanish Corral's Sundance Kid (NAFC, GFC, FC, AFC),
          and Grand Junction Jake (DC, AFC). With such a prestigious background,
          we are eagerly looking forward to her future accomplishments and the
          impact she will make.
        </ImageCard>
      </div>
    </section>
  </Main>
</Layout>
<style>
  .card-container {
    @apply grid grid-cols-1 place-items-center gap-4 px-4 pb-10 md:grid-cols-4 md:px-20;
  }
</style>
