---
import SimpleCard from "@/components/SimpleCard.astro";
import { TabbedCard } from "@/components/TabbedCard";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import { ImageCarousel } from "@/components/ImageCarousel";
const imageImports = import.meta.glob<{ default: ImageMetadata }>(
  "../images/puppies/*.{jpeg,jpg,png,gif}",
);
const imagePaths = await Promise.all(
  Object.values(imageImports).map((fn) => fn().then(({ default: url }) => url)),
);
---

<Layout title="Our Dogs - Appalachian Brittanys">
  <Header />
  <Main class="bg-background">
    <section class="h-dvh">
      <div class="grid grid-cols-2 place-items-center justify-center gap-6">
        <div class="p-10">
          <ImageCarousel images={imagePaths} client:visible />
        </div>
        <div class="p-10 x-auto max-w-screen-md text-center mb-8 lg:mb-12">
          <h2 class="mb-4 text-4xl font-bold">Puppies!</h2>
          <p class="mb-5 sm:text-xl text-left">
            Limited spots available. Picks are made in order the deposits are
            received. Pups will have their first round of Distemper, parvovirus
            shots at 6 weeks old that is included in the purchase price and
            treated for worms at 2, 4, 6 and 8 weeks of age. Second round of
            vaccines for distemper at 8 weeks old will be at the buyers expense
            (usually around $30.00). Puppies will have their Dewclaws removed
            and tails docked. They will be ready to go to their new homes when
            they are 8 weeks of age.
          </p>
        </div>
        <div class="col-span-2">
          <TabbedCard client:load />
        </div>
      </div>
    </section>
    <section class="h-dvh">
      <h2 class="pt-32 pb-16 text-center">Registration Info</h2>
      <div class="grid grid-cols-2 gap-4">
        <SimpleCard className="col-span-2">
          <h3 class="mb-4 text-3xl font-semibold">Registering Your Puppy</h3>
          <p class="text-left">
            You will receive and sign a statement acknowledging your receipt of
            your AKC official ownership registration form in your puppies take
            home packet.
          </p>
          <ul class="text-left">
            <li>
              <a
                href="https://www.akc.org/register/dog/"
                target="_blank"
                rel="noopener noreferrer">How to register your puppy</a
              >
            </li>
            <li>
              <a
                href="https://www.akc.org/register/information/fee-schedule/"
                target="_blank"
                rel="noopener noreferrer">Fee Schedule</a
              >
            </li>
            <li>
              <a
                href="https://www.akc.org/register/information/transfer/#dupapp2"
                target="_blank"
                rel="noopener noreferrer">Lost Paperwork information<br /></a
              >
            </li>
          </ul>
        </SimpleCard>
        <SimpleCard>
          <h3 class="mb-4 text-3xl font-semibold">Full Registration</h3>
          <ul class="text-left">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </SimpleCard>
        <SimpleCard>
          <h3 class="mb-4 text-3xl font-semibold">Limited Registration</h3>
          <ul class="text-left">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </SimpleCard>
      </div>
    </section>
  </Main>
</Layout>
<style>
  section {
    @apply mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16;
  }
</style>
