---
import Header from "../components/Header.astro";
import ImageCard from "../components/ImageCard.astro";
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import jackPhoto from "../images/our-dogs/jack.png";
import dixiePhoto from "../images/our-dogs/dixie.jpg";
import lilyPhoto from "../images/our-dogs/lily.jpg";
import piperPhoto from "../images/our-dogs/piper.jpg";
import SimpleCard from "@/components/SimpleCard.astro";
---

<Layout title="Our Dogs - Appalachian Brittanys">
  <Header />
  <Main>
    <section>
      <h2 class="pt-32 pb-16 text-center">Registration Info</h2>
      <div class="grid grid-flow-row sm:grid-cols-2 gap-4">
        <SimpleCard className="sm:col-span-2">
          <h3 class="mb-4 text-3xl font-semibold">Registering Your Puppy</h3>
          <p class="text-left">
            You will receive and sign a statement acknowledging your receipt of
            your AKC official ownership registration form in your puppies take
            home packet.
          </p>
          <ul class="text-left">
            <li>
              <a
                href="https://www.akc.org/register/dog/"
                target="_blank"
                rel="noopener noreferrer">How to register your puppy</a
              >
            </li>
            <li>
              <a
                href="https://www.akc.org/register/information/fee-schedule/"
                target="_blank"
                rel="noopener noreferrer">Fee Schedule</a
              >
            </li>
            <li>
              <a
                href="https://www.akc.org/register/information/transfer/#dupapp2"
                target="_blank"
                rel="noopener noreferrer">Lost Paperwork information<br /></a
              >
            </li>
          </ul>
        </SimpleCard>
        <SimpleCard>
          <h3 class="mb-4 text-3xl font-semibold">Full Registration</h3>
          <ul class="text-left">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </SimpleCard>
        <SimpleCard>
          <h3 class="mb-4 text-3xl font-semibold">Limited Registration</h3>
          <ul class="text-left">
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </SimpleCard>
      </div>
    </section>
  </Main>
</Layout>
<style>
  section {
    @apply mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16;
  }
</style>
