---
export interface props {
  navItems: string[];
}
---

<header class="w-full p-10 border-b-1">
  <nav class="bg-gray-800 flex align-middle justify-between">
    <h1>Appalachian Brittanys</h1>
    <ul class="hidden md:flex flex-row justify-end space-x-8">
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </nav>
</header>
