---
import { Image } from "astro:assets";

import photo from "../../public/line-art-v1.webp";
import { Navigation } from "@/components/Navigation";
---

<header>
  <nav class="flex justify-center sm:justify-between items-center">
    <a class="py-4 sm:p-10" href="/">
      <Image
        class="border-4 border-black rounded-sm size-28 mix-blend-multiply"
        src={photo}
        alt=""
      />
    </a>
    <div class="hidden sm:block">
      <Navigation client:load />
    </div>
  </nav>
</header>
