---
import { Image } from "astro:assets";

import photo from "../../public/line-art-v1.webp";
import { Navigation } from "@/components/Navigation";
---

<header>
  <nav class="flex justify-between items-center mr-10">
    <a href="/">
      <Image
        class="border-4 border-black rounded-sm size-28 ml-20 mix-blend-multiply"
        src={photo}
        alt=""
      />
    </a>
    <Navigation client:load />
  </nav>
</header>
