---
import { Image } from "astro:assets";

import photo from "../images/header/line-art-v1.svg";
import { Navigation } from "@/components/Navigation";
---

<header>
  <nav class="flex justify-between items-center">
    <a class="p-4 sm:p-10" href="/">
      <Image
        class="rounded-sm size-28 bg-secondary"
        src={photo}
        alt=""
      />
    </a>
    <div class="hidden sm:block">
      <Navigation client:load />
    </div>
  </nav>
</header>
