---
import { Image } from "astro:assets";
import { Button } from "./ui/button";

export interface Props {
  title: string;
  image: ImageMetadata;
  description?: string;
}

const { title, image, description } = Astro.props;
---

<div
  class="flex flex-col bg-secondary min-w-lg rounded overflow-hidden shadow-lg text-primary"
>
  <Image src={image} alt={description ?? ""} />
  <div class="px-6 py-4">
    <h1 class="text-background font-bold text-xl mb-2">{title}</h1>
    <p>
      <slot />
    </p>
  </div>
</div>
